.index
	margin 5vh auto
	display flex
	flex-direction column
	max-width 540px
	height 90vh
	border 10px solid rgba(0, 0, 0, .8)
	border-bottom-width 70px
	border-radius 10px
	box-shadow 0 0 50px rgba(0, 0, 0, .3)

	&__navbar
		background-color green

	&__hero
		flex 1 1 auto
		padding 20px
		display flex
		overflow-x hidden
		// overflow-y scroll
		flex-direction column
		min-height 50vh
		background-color black
		align-items center
		justify-content center

	&__tab
		flex-basis 150px
		min-height 150px
		background-color pink
