mixin hero()
	+b.hero&attributes(attributes)
		+e('canvas')#memeCanvas(src='https://dummyimage.com/600x400/000/fff') Sorry, canvas not supported
		+e('img')#previewImage(src='./images/10guy.jpg' alt='')
