mixin slider()
	+b.slider&attributes(attributes)
		+e.wrapper
			- var imgs = ['10guy.jpg', 'advice_dog.jpg', 'advice_god.jpg', 'advice_yoda_gives.jpg', 'angry_school_boy.jpg', 'annoying_childhood_friend.jpg', 'annoying_facebook_girl.jpg',  'anti_joke_chicken.jpg', 'art_student_owl.jpg', 'baby_godfather.jpg', 'bad_advice_cat.jpg', 'bad_luck_brian.jpg', 'bear_grylls.jpg', 'bill_oreilly.jpg', 'blue_y_u_no.jpg', 'brace_yourselves_x_is_coming.jpg']
			for img in imgs
				+e('img').slide(src='./images/#{img}')
